<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    
    <mapper namespace="mapper.CustomerMapper">
    	<resultMap id="customerResultMap" type="pojo.Customer">
    		<id column="customer_id" jdbcType="INTEGER" property="id"/>
    		<result column="first_name" jdbcType="VARCHAR" property="firstName"/>
    		<result column="last_name" jdbcType="VARCHAR" property="lastName"/>
    	</resultMap>
    	
    	<select id="findCustomerByName" parameterType="pojo.Customer" resultMap="customerResultMap">
    		SELECT customer_id , first_name , last_name FROM customer
    		WHERE first_name = #{firstName}
    	</select>
    	
    </mapper>